
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
@Html.Partial("~/Areas/Admin/Views/AdminLayoutPartial/_AdminLayoutHead.cshtml")
<body>
    <div class="container-scroller">
        @Html.Partial("~/Areas/Admin/Views/AdminLayoutPartial/_AdminLayoutSidebar.cshtml")
        <div class="container-fluid page-body-wrapper">
            @Html.Partial("~/Areas/Admin/Views/AdminLayoutPartial/_AdminLayoutHeader.cshtml")
            <div class="main-panel">
                <div class="content-wrapper pb-0">
                    @RenderBody()
                </div>
                @Html.Partial("~/Areas/Admin/Views/AdminLayoutPartial/_AdminLayoutFooter.cshtml")
            </div>
        </div>
    </div>
    @Html.Partial("~/Areas/Admin/Views/AdminLayoutPartial/_AdminLayoutScript.cshtml")
</body>
</html>