@model Medinova.Models.About
@{
    ViewBag.Title = "UpdateAbout";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="row mb-4">
    <div class="col-12">
        <div class="dashboard-section-header d-flex justify-content-between align-items-center">
            <div>
                <h4 class="mb-1 section-title">Hakkımızda Güncelleme Sayfası</h4>
                <p class="mb-0 section-subtitle">
                    Hakkımızda alanı düzenlemelerini bu sayfadan yapabilirsiniz...
                </p>
            </div>
        </div>
    </div>
</div>

@using (Html.BeginForm())
{
    @Html.HiddenFor(x => x.AboutId)

    <div class="mb-3">
        @Html.LabelFor(x => x.Title)
        @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
    </div>

    <div class="mb-3">
        @Html.LabelFor(x => x.Description)
        @Html.TextAreaFor(x => x.Description, new { @class = "form-control", rows = 5 })
    </div>

    <div class="mb-3">
        @Html.LabelFor(x => x.ImageUrl)
        @Html.TextBoxFor(x => x.ImageUrl, new { @class = "form-control" })
    </div>

    <button class="btn btn-primary">Kaydet</button>
    <a href="@Url.Action("Index")" class="btn btn-secondary">İptal</a>
}


