
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
@Html.Partial("~/Areas/Doctor/Views/DoctorLayoutPartial/_DoctorLayoutHead.cshtml")
<body>
    <div class="container-scroller">
        @Html.Partial("~/Areas/Doctor/Views/DoctorLayoutPartial/_DoctorLayoutSidebar.cshtml")
        <div class="container-fluid page-body-wrapper">
            @Html.Partial("~/Areas/Doctor/Views/DoctorLayoutPartial/_DoctorLayoutHeader.cshtml")
            <div class="main-panel">
                <div class="content-wrapper pb-0">
                    @RenderBody()
                </div>
                @Html.Partial("~/Areas/Doctor/Views/DoctorLayoutPartial/_DoctorLayoutFooter.cshtml")
            </div>
        </div>
    </div>
    @Html.Partial("~/Areas/Doctor/Views/DoctorLayoutPartial/_DoctorLayoutScript.cshtml")
</body>
</html>